@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
* {
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
	margin: 0;
	background-color: rgba(204, 204, 204, 0.17);
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	margin-top: 70px;
}
a {
	color: #FFFFF0;
}
a:hover {
	color: #ffa500;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}
p {
	line-height: 28px;
	margin-bottom: 25px;
}
.centered {
	text-align: center;
}
hr { 
	border-top: 1px solid#f7b520 !important;
	margin: 1em 0;
	padding: 0;
}
button.btn.btn-warning.btn-lg {
	background: rgb(24,40,45);
	border-color: rgb(24,40,45); 
	border-radius: 0px;
	padding: 15px 24px;
}
button.btn.btn-warning {
	border-radius: 0px;
	background: rgb(24,40,45);
	border-color: rgb(24,40,45);
}





.navbar {
	font-size: 20px;
	background-color: rgba(247, 189, 27, 0.7);
}
.navbar:hover {
	background-color: rgba(247, 189, 27, 0.95);
}
.navbar a {
	color: rgba(0, 0, 0, 1);
}
.navbar-collapse.collapse > ul > li > a:hover {
	background-color: rgb(24,40,45);
	color: rgba(255, 153, 1, 1);
}

.navbar .navbar-brand {
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: 500;
}
.navbar-header > a:hover {
	color: rgba(24, 40, 45, 1);
}
.icon-bar {
	background-color: white;
}






.header_wrap {
	background-image: url(../img/header_wrap.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	height: 100vh;
}
.header_head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(199, 150, 150, 0.25);
}
.address {
	margin-top: 150px;
	color: black;
}
.time_work h4 {
	font-size: 26px;
}
.time_work h5 {
	font-size: 22px;
}
.address_phone {
	text-align: right;
}
.address_phone h4 {
	font-size: 26px;
}
.address_phone h5 {
	font-size: 22px;
}

.title_brand {
	text-align: center;
	margin-top: 5%;
}
.header_wrap h1{
	color: black;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}
.header_wrap h2 {
	color: black;
	font-size: 40px;
}




.new_menu {
	padding-top: 0px;
}
.new_menu h4 {
	font-size: 25px;
}



.bg_menu {
	background-color: rgba(8, 8, 8, 0.04);
}
.bg_menu .label_menu {
	text-align: center;
} 
.nav.nav-pills.nav-justified {
	margin-top: 20px;
	font-size: 18px;
}
.nav.nav-pills.nav-justified a {
	color: rgb(24,40,45);
}
.bg_menu.container-fluid > .container > ul > li.active > a{
	background-color: rgb(255,195,121);
}
.bg_menu.container-fluid > .container > ul > li > a:hover {
	background-color: rgba(24,40,45, 0.1);
}
.tab-content {
	margin-top: 20px;
	margin-bottom: 20px; 
	text-align: center;
}







.our_team {

}
.container.blog {
	color: black;
}



.footer {
	margin-top: 20px;
	background-color:  rgb(24,40,45);
}
.footer_phone {
	margin-top: 100px;
}
.footer_phone h4 {
	color: rgba(255 ,253 ,244, 0.8);
	font-size: 30px;
}
.footer_phone h5 {
	color: rgba(255 ,253 ,244, 0.8);
	font-size: 25px;
}
.footer_time_work {
	margin-top: 100px;
}
.footer_time_work h4 {
	color: rgba(255 ,253 ,244, 0.8);
	font-size: 20px;
}
.footer_time_work h5 {
	color: rgba(255 ,253 ,244, 0.8);
	font-size: 23px;
}
.soc_network {
	font-size: 30px;
}