@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	margin-top: 70px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}
p {
	line-height: 28px;
	margin-bottom: 25px;
}
.centered {
	text-align: center;
}
a {
	color: #f85c37;
}
a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid#ccc;
	margin: 1em 0;
	padding: 0;
}
.navbar {
	font-weight: 500;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-inverse {
	background-color: #2d2d2d;
	border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active > a {
	background-color: #ff7878;
}
.navbar-inverse .navbar-nav > li:hover {
	background-color: #ff7878;
}
.navbar-inverse .navbar-brand {
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}
#header_wrap {
	background: url(../img/header_wrap.jpg) no-repeat center top;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	background-size: cover;
	background-size: 100% 100%;


/*	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
}
#header_wrap h1{
	margin-top: 150px;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}
#header_wrap h2 {
	font-size: 40px;
}
.new_menu {
	padding-top: 35px;
}
.new_menu h4 {
	font-size: 25px;
}
.our_team {
	background-color: #e0e0e0;
}
.shares {
	background-color: #ff7878;
}
.shares h1 {
	text-align: center;
	font-size: 25px;
}
.footer {
	background-image: url(../img/footer_1.jpg);
	text-align: center;
	background-position: center center;
	min-height: 300px;
	width: 100%;
	background-size: cover;
	background-size: 100% 100%;  
}
.footer .row {
	color: white;
	margin-top: 40px;
}
.footer .row h1 {
	color: white;
}