@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
* {
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
	margin: 0;
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	margin-top: 70px;
}
a {
	color: #FFFFF0;
}
a:hover {
	color: #ffa500;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}
p {
	line-height: 28px;
	margin-bottom: 25px;
}
.centered {
	text-align: center;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid#ccc;
	margin: 1em 0;
	padding: 0;
}
button.btn.btn-warning.btn-lg {
	border-radius: 0px;
	padding: 15px 24px;
}
button.btn.btn-warning {
	border-radius: 0px;
}





.navbar {
	font-size: 20px;
	background-color: rgba(255, 153, 1, 0.32);
}
.navbar a {
	color: rgba(0, 0, 0, 1);
}
.navbar-collapse.collapse > ul > li:hover > a {
	background-color: rgba(0, 0, 0, 0.4);
	color: rgba(255, 153, 1, 0.9);
}
.navbar .navbar-brand {
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: 500;
}
.navbar-header > a:hover {
	color: rgba(0, 0, 0, 0.8);
}
.icon-bar {
	background-color: white;
}






.header_wrap {
	background-image: url(../img/header_wrap.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	height: 100vh;
}
.header_head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(204, 204, 204, 0.1);
}
.title_brand {
	text-align: center;
	margin-top: 22%;
}
.header_wrap h1{
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}
.header_wrap h2 {
	font-size: 40px;
}




.new_menu {
	padding-top: 0px;
	background-color: rgba(221, 221, 221, 0.45);
}
.new_menu h4 {
	font-size: 25px;
}




.bg_menu {
	background-image: url(../img/bg_menu.jpg);
	background-size: cover;
	background-size: 100% 100%;
	background-position: center center;
	overflow: hidden;
}
.label_menu {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20 
}
.label_menu h1 {
	color: white;
}
.menu {
	background-color: rgba(51, 51, 51, 0.45);
	text-align: center;
}
.menu a {
	color: #f0ad4e;
	font-size: 20px;
}
.menu h3 {
	color: white;
}
.sushi {
	margin-top: 20px;
	margin-bottom: 20px;
}
.nav.nav-tabs.nav-justified a:hover {
	background: rgba(94, 68, 31, 0.5);
	color: white;
}
.nav.nav-tabs.nav-justified a:active {
	border-bottom: 0px;
}
.menu.container > ul > li.active > a {
	background-color: rgba(94, 68, 31, 0.5);
	color: #f0ad4e;
}
.menu.container > ul > li.active > a:hover,
.menu.container > ul > li.active > a:forus,
.menu.container > ul > li.active > a:active,
.menu.container > ul > li.active > a:visited,
.menu.container > ul > li.active > a:link {
	border-bottom: 0px;
}



.our_team {
	background-image: url(../img/bg_our_team.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.container.blog {
	background-color: rgba(221, 221, 221, 0.45);
}
.container.blog {
	color: black;
}
.shares {
	background-color: #ff7878;
}
.shares h1 {
	text-align: center;
	font-size: 25px;
}
.footer {
	background-image: url(../img/footer_1.jpg);
	background-position: center center;
	min-height: 300px;
	width: 100%;
	background-size: cover;
	background-size: 100% 100%;  
}
.footer .row {
	color: white;
	margin-top: 40px;
}
.footer .row h1 {
	color: white;
}
.footer .row .phone {
	text-align: center;
}